body {
  background-color: black;
}
.search {
  width: 90%;
  padding: 3px 3px 3px 8px;
  color: white;
  background-color: transparent;
  font-size: 18px;
  border: none;
  outline: none;
}
input {
  display: flex;
  justify-content: center;
}
.searchbar {
  /* margin-top: 2%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gifs {
  margin: 40px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gif {
  padding: 2px 2px;
  position: static;
}
.myButton {
  display: flex;
  justify-content: space-between;
}
.myButton Button {
  background-color: rgb(197, 57, 57);
  color: white;
  width: 150px;
  font-weight: 600;
  margin-left: 10px;
}
.myButton Button:hover {
  background-color: rgb(134, 37, 37);
}

.showDetails {
  width: 98%;
  bottom: 5px;
}
p {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}
.names {
  color: red;
  font-weight: bold;
  margin-right: 3px;
}
.gif Button {
  background-color: rgb(197, 57, 57);
  color: white;
  height: 30px;
  padding: 5px 35px;
  font-weight: 500;
}
.gif Button:hover {
  background-color: rgb(134, 37, 37);
}
.inputs {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 30%;
  border-bottom: 1px solid rgb(134, 31, 31);
}
img {
  width: 300px;
  height: 200px;
}
.CentreButton {
  display: flex;
  justify-content: center;
}
p {
  color: white;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
